.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-color: #38598b;
    margin: 0;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #e7eaf6;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #e7eaf6;
    
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: #6643b5;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.butn:hover {
    background: #232931;
    text-decoration: none;
}